
h1{
	font: "微软雅黑";
	font-size: 28px;
}

h2{
	font: "微软雅黑";
	font-size: 16px;
}

h3{
	font: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
}

h5{
	font: "微软雅黑";
	font-size: 12px;
	color:darkgray;
	font-weight:normal;
}

h6{
	font:"微软雅黑";
	font-size: 12px;
	color: darkgray;
	font-weight: normal;
}

body.waiting * {
    cursor: progress;
}

.label1{
	font: "微软雅黑";
	font-size: 16px;
	font-weight: normal;
}

.label2{
	font: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
}

label{
	font:"微软雅黑";
	font-size: 12px;
	font-weight: normal;
}

li{
	font:"微软雅黑";
	font-size: 11px;
	color:darkgray;
	font-weight: normal;
}

p{
	width: 100%;
	font-size: 20px;
	border: 1px solid #333;
	word-wrap: break-word;
	color: red;
}

.processcontainer{  
   width:80%;  
   border:1px solid #6C9C2C;  
   height:25px;
}

#processbar{  
   background:#95CA0D;  
   float:left; 
   height:100%;  
   text-align:center;  
   line-height:150%; 
}
 
.button{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 50%;
	border-radius: 8px;
}

.item_text1{
	border:1px solid grey;
	width: 80%;
	height: 32px;
	font-size: 18px;
	font-weight: lighter;
}

.item_text2{
	border:1px solid grey;
	width: 100%;
	height: 32px;
	font-size: 18px;
	font-weight: lighter;
	
}

.item_text3{
	font:"微软雅黑";
	font-size: 14px;
	color: darkgray;
	font-weight: normal;
}

table{
	margin: 0;
	padding: 0;
	width: 80%;
	display: table-row;
	vertical-align: middle;
	border-color: grey;
	border-spacing: 0;
	line-height: 1.7;
	border-collapse: collapse;
}

